<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/firststyle.css">
    <title>Demo CSS</title>

</head>
<body>

<h1>The Tampa Bay Buccaneers sign Leonard Fournette</h1>
<p>Analyzing Fournettes road to becoming the first string RB</p>
<img src="/images/1228405141.jpg.0.jpg" alt="Leonard and teammate" width="725" height="483">
<h2>WHAT THIS MEANS FOR LEONARD FOURNETTE</h2>
<p>
If the Buccaneers are signing Fournette at this point, it’s because they intend to give him a role. According to Albert Breer, he is expected to make around $3.5 million on his deal. That is more than any other back in Tampa Bay.
<br><br>Fournette is the biggest of the Buccaneers running backs. The immediate thought is he will be a goal-line back, but his receiving ability shouldn’t be underestimated. Over the last three years, Fournette has a 74.2 PFF receiving grade. The three other backs with NFL experience on the Bucs' roster are all below 70. Because Fournette is signing with the team just over one week before the season, he might not have a huge role in Week 1. But it wouldn’t be surprising to see him taking over a lot of passing downs.
<br><br>It also wouldn’t be surprising to see Fournette play in the Buccaneers' goal-line offense. Over the last three years, Fournette has 18 touchdowns from five yards to go or less, which is tied for third-most in the league. Of the 21 backs with 25 or more carries in this situation, he is one of four backs to either score a touchdown or gain a first down at least 50% of the time.
Even if he wins the goal-line work and receiving job, it’s unlikely he will see as much playing time he had in Jacksonville due to Ronald Jones. While he will no longer be a low-end RB1/high end RB2, being a low-end RB2/flex play is certainly possible due to his opportunity for touchdowns and catches.
</p>
<img src="/images/QX2MCOZL5ZE43BRTUM6Y7MF7DA.jpeg"alt="Leonard touchdown" width="725" height="407">
<h2>Conclusion</h2>
<p>Out of the other Buccaneers running backs, Jones is still the best. Bruce Arians has multiple times praised Jones as being the main guy. <br><br>If Fournette is used a lot on third downs, that should leave Jones more opportunities on first and second downs. Last year with Peyton Barber there were times they would switch off drives playing first and second downs with Ogunbowale playing third downs. It’s possible we see that kind of rotation between Fournette and Jones.

    <br><br>As for goal-line work, Jones has converted five of six carries within five yards of scoring into touchdowns, so it’s no guarantee that Fournette takes that role away from him. Still, Jones was limited in his upside due to his lack of receiving, and now his upside rushing is also limited. He was in the conversation as a flex play before, but now he should probably only be drafted as a backup.</p>
<iframe width="725" height="483" src="https://www.youtube.com/embed/OGKXO9vWrtc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>