<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First App</title>
    <link rel="stylesheet" type="text/css" href="/firststyle.css">

</head>
<body>
<h1>Fantasy news</h1>
<img src="/images/skysports-nfl-logo-pitch_4931126.jpg"alt="NFL logo" width="725" height="483">
<h2>Articles</h2>
<h3>The Tampa Bay Buccaneers sign Leonard Fournette</h3>
<img src="/images/06a527684b0ea5b798a203db5306e423.jpg"alt="Leonard Fournette draftday" width="725" height="483">
<p>If the Buccaneers are signing Fournette at this point, it’s because they intend to give him a role. According to Albert Breer, he is expected to make around $3.5 million on his deal. That is more than any other back in Tampa Bay. Click <a href="/demo">here</a> to read more about Leonard Fournette.</p>
<h2>Top 10 fantasy power rankings</h2>
<img src="/images/nfl-power-rankings-082720-ftr_1smu04ar7xns1dxdh8k3yrwt8.jpg"alt="NFL power rankings" width="725" height="483">
<p>The 2020 season is upon us. Click <a href="/top10">here</a> to see top 10 for QB/RB/WR</p>

</body>
</html>