<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/firststyle.css">
</head>
<body>
<h1>Top 10 prospects</h1>
<section id="section_top10">
    <div class=“ydre_div”>
        <h4>Top 10 Fantasy QB Rankings</h4>
        <p>
1. Lamar Jackson, Baltimore Ravens
<br><br>
2. Patrick Mahomes, Kansas City Chiefs
<br><br>
3. Dak Prescott, Dallas Cowboys
<br><br>
4. Russell Wilson, Seattle Seahawks
<br><br>
5. Kyler Murray, Arizona Cardinals
<br><br>
6. Deshaun Watson, Houston Texans
<br><br>
7. Josh Allen, Buffalo Bills
<br><br>
8. Matt Ryan, Atlanta Flacons
<br><br>
9. Drew Brees, New Orleans Saints
<br><br>
10. Tom Brady, Tampa Bay Buccaneers</p>

    </div>

    <div class="ydre_div">
        <br><br>
        <img src="/images/lamarJackson.jpg" alt="Lamar Jackson" width="605" height="383">
    </div>
</section>

<section id="section_top10">
    <div class=“ydre_div”>

        <h4>Top 10 Fantasy RB Rankings</h4>
        <p>
1. Christian McCaffrey, Carolina Panthers
<br><br>
2. Saquon Barkley, New York Giants
<br><br>
3. Ezekiel Elliott, Dallas Cowboys
<br><br>
4. Derrick Henry, Tennessee Titans
<br><br>
5. Dalvin Cook, Minnesota Vikings
<br><br>
6. Alvin Kamara, New Orleans Saints
<br><br>
7. Joe Mixon, Cincinnati Bengals
<br><br>
8. Nick Chubb, Cleveland Browns
<br><br>
9. Josh Jacobs, Las Vegas Raiders
<br><br>
10. Aaron Jones, Green Bay Packers</p>

    </div>

    <div class="ydre_div">
        <br><br>
        <img src="/images/christianMccaffrey.jpg" alt="Lamar Jackson" width="605" height="383">
    </div>
</section>

<section id="section_top10">
    <div class=“ydre_div”>

        <h4>Top 10 Fantasy WR Rankings</h4>
        <p>
1. Michael Thomas, New Orleans Saints
<br><br>
2. Davante Adams, Green Bay Packers
<br><br>
3. Tyreek Hill, Kansas City Chiefs
<br><br>
4. Julio Jones, Atlanta Falcons
<br><br>
5. DeAndre Hopkins, Arizona Cardinals
<br><br>
6. Chris Godwin, Tampa Bay Buccaneers
<br><br>
7. Kenny Golladay, Detroit Lions
<br><br>
8. Mike Evans, Tampa Bay Buccaneers
<br><br>
9. Amari Cooper, Dallas Cowboys
<br><br>
10. Odell Beckham Jr., Cleveland Browns
        </p>

    </div>

    <div class="ydre_div">
        <br><br>
        <img src="/images/michealThomas.jpeg" alt="Lamar Jackson" width="605" height="383">
    </div>
</section>



</body>
</html>