<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/firststyle.css">
</head>
<body>
<h1>Top 10 prospects</h1>
<div class=“ydre_div”>
    <div class=“tekst_div”>
        <h4>Top 10 Fantasy QB Rankings</h4>
        <pre>
1. Lamar Jackson, Baltimore Ravens

2. Patrick Mahomes, Kansas City Chiefs

3. Dak Prescott, Dallas Cowboys

4. Russell Wilson, Seattle Seahawks

5. Kyler Murray, Arizona Cardinals

6. Deshaun Watson, Houston Texans

7. Josh Allen, Buffalo Bills

8. Matt Ryan, Atlanta Falcons

9. Drew Brees, New Orleans Saints

10. Tom Brady, Tampa Bay Buccaneers

</pre>
    </div>
    <div class=“billede_div”>
        <img src="/images/download.jpeg" alt="Lamar Jackson" width="725" height="483">
    </div>

</div>

<br>
<h4>Top 10 Fantasy RB Rankings</h4>
<pre>1. Christian McCaffrey, Carolina Panthers

2. Saquon Barkley, New York Giants

3. Ezekiel Elliott, Dallas Cowboys

4. Derrick Henry, Tennessee Titans

5. Dalvin Cook, Minnesota Vikings

6. Alvin Kamara, New Orleans Saints

7. Joe Mixon, Cincinnati Bengals

8. Nick Chubb, Cleveland Browns

9. Josh Jacobs, Las Vegas Raiders

10. Aaron Jones, Green Bay Packers</pre>
<br>
<h4>Top 10 Fantasy WR Rankings</h4>
<pre>1. Michael Thomas, New Orleans Saints

2. Davante Adams, Green Bay Packers

3. Tyreek Hill, Kansas City Chiefs

4. Julio Jones, Atlanta Falcons

5. DeAndre Hopkins, Arizona Cardinals

6. Chris Godwin, Tampa Bay Buccaneers

7. Kenny Golladay, Detroit Lions

8. Mike Evans, Tampa Bay Buccaneers

9. Amari Cooper, Dallas Cowboys

10. Odell Beckham Jr., Cleveland Browns</pre>



</body>
</html>